.menu {
  background-color: #eee;
  
  position: absolute;
  top: -60px;
  left: 30.5px;  /* (width_of_container - width_of_content)/2 */

  width: 323px;
  z-index: 1;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
}

/* list */
ul {
  padding: 0;
  list-style-type: none;
}
ul#nav-items li {
  display: inline;
}

/* anchors */
a {
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}
a:hover {
  color: white;
  background-color: black;
}

/* greater than signs */
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/* .greater-than span {
  visibility: hidden;
}

.greater-than:hover span {
  visibility: visible;
} */