.ArtDisplay {
  line-height: 1.6;
}

.art-display-body {
  text-align: center;
}

.displayName {
  position: sticky;
  top: 1em;
  left: 1em;
}

.art-image {
  width: 95%;
  height: auto;
}

.art-image-list > li {
  padding-bottom: 1.5em;
}

.art-collections {
  margin-top: 0;
}
