@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: PressStart2P, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
